.Footer {
background: #1E212C;
padding-top: rem(80);
padding-bottom: rem(80);
@media (max-width:$tablet){
    padding-top: rem(30);  
    padding-bottom: rem(30);
}
    &__container {
    }

    &__body {
     

    }

    &__top {
        display: flex;
        justify-content: space-between;
        @media (max-width:$tablet){
            flex-direction: column;
            gap: rem(10);
        }
    }

    &__center {
    }

    &__bottom {
    }
}
.top-footer {
margin-bottom: rem(50);
    &__info {
        max-width: rem(493);
        @media (max-width:$tablet){
            max-width: none;
            width: 100%;
        }
    }

    &__logo {
        margin-bottom: rem(24);
    }

    &__text {
        font-family: 'Ubuntu';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
        color: var(--white, #FFF);
    }

    &__email {
    }

    &__touch {
        color: var(--white, #FFF);
        font-family: 'Ubuntu';
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 36px */
margin-bottom: rem(24);
    }

    &__form {
        border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: rgba(255, 255, 255, 0.12);
display: flex;
margin-bottom: rem(16);

    }

    &__input {
        padding: rem(11) rem(16);
    flex: 1 1 auto;
    background: rgba(255, 255, 255, 0.12);
    color: var(--white, #FFF);
/* small/regular */
font-family: 'Ubuntu';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */

    }

    &__formText {
        color: var(--white, #FFF);
/* extrasmall/regular */
font-family: 'Ubuntu';
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */
    }
}
.main {
}
.orange {
}
.center-footer {
    margin-bottom: rem(38);
display: flex;
justify-content: center;
    &__accordionItemName {
    }

    &__accordionItem {
    }

    &__accordionText {
      
    }
}
.bottom-footer {
display: flex;
justify-content: space-between;
align-items: center;
    &__left {
        color: var(--white, #FFF);
        font-family: 'Ubuntu';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
    }

    &__right {
        display: flex;
        align-items:flex-end;
        gap: rem(16);
    }

    &__go {
        transition: all 0.3s ease 0s;
        cursor: pointer;
        @media (any-hover: hover){
            &:hover{
                color: #FF5A30;
                transition: all 0.3s ease 0s;
            }
        }
        flex: 1 1 auto;
        white-space: nowrap;
        color: var(--white, #FFF);
/* small/regular */
font-family: 'Ubuntu';
font-size: 14px;
@include adaptiveValue("font-size", 14, 12);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
    }
}
.footer {
}
